/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #333;
}

h1, h2, h3 {
    color: #222;
    margin-bottom: 15px;
}

p {
    line-height: 1.6;
    margin-bottom: 10px;
}

/* Стили для навигационной панели */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
}

.navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.navbar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.navbar nav ul li a:hover {
    color: #ffeb3b;
}

/* Стили для секций */
.section {
    padding: 20px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

/* Таблицы */
section table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

section table th, section table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

section table th {
    background-color: #4CAF50;
    color: white;
}

/* Формы */
form {
    margin-top: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #45a049;
}

/* Стили для футера */
footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 50px; /* Задаем высоту футера */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Тень над футером */
}

/* Секция с товарами */
.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.product-card {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    width: 200px;
}

.product-card h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.product-card p {
    margin-bottom: 15px;
    font-weight: bold;
    color: #333;
}

.add-to-cart {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart:hover {
    background-color: #45a049;
}

